/* ESTILOS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__avatar{
  width: 32px;
  height: 32px;
  border-radius: 50px;

}
.nav {
  display: flex;
  gap: 20px;
}
.nav__link {
  text-decoration: none;
  color: #666666;
  font-family: sans-serif;
  font-size: 1rem;
}
.nav__link-active{
  color: #a86569;
}

.about {
  margin-bottom: 60px;
}

.about__title {
  font-size: 2rem;
  margin-bottom: 24px;
}

.about__text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 16px;
}

/* ESTILOS DE PROJECT.HTML */
.project-detail {
  margin-bottom: 60px;
}

.project-detail__header {
  margin-bottom: 32px;
}

.project-detail__tag {
  color: #666666;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: sans-serif;
}

.project-detail__title {
  font-size: 2.2rem;
  margin: 12px 0;
}

.project-detail__description {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444444;
}

.project-detail__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}